{% extends "blog/base.html"%}

{% block body_block %}
<div class="jumbotron">
    <h2>PLease Login</h2>
    <h3>(must be SuperUser, please check with te site admin)</h3>

    {%if form.errors %}
    <p>Your username and password didnt match ! please try again.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token%}

        {%form.as_p%}
        <input type="submit" class="btn btn-primary" value="Login">
        <!--<input type="hidden" name="next" value="{{next}}">-->
    </form>
</div>

{% endblock %}